<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extractor de XML</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>📦 Clasificador XML</h1>


    <p class="subtitle">
    El sistema clasificará automáticamente los documentos encontrados en:
    </p>

<div class="features">

    <div class="feature-card">
        <span class="icon">📤</span>
        <span>Emitidos</span>
    </div>

    <div class="feature-card">
        <span class="icon">📥</span>
        <span>Recibidos</span>
    </div>

    <div class="feature-card">
        <span class="icon">📦</span>
        <span>Sobres</span>
    </div>

    <div class="feature-card">
        <span class="icon">📄</span>
        <span>Otros</span>
    </div>

</div>

    <form
        id="uploadForm"
        action="/upload"
        method="post"
        enctype="multipart/form-data"
    >

        
<p><strong>Completar solo si los XML están protegidos por una clave.</strong></p>


    <label for="password">
    🔒Contraseña ZIP (opcional):
    </label>
   

<input
    type="password"
    name="password"
    id="password">


     
     <h3>Asegúrate de estar colocando el RUT correcto del cliente.</h3>
     

        <label for="rut">
            <strong>RUT empresa:</strong>
        </label>

        <input
            type="text"
            name="rut"
            id="rut"
            required
        >

        

        <label> 📁 Archivo ZIP: </label>

    <div class="file-upload">

    <label for="file" class="file-button">
        Seleccionar archivo
    </label>

    <span id="fileName">
        Ningún archivo seleccionado
    </span>

    <input
        type="file"
        name="file"
        id="file"
        accept=".zip"
        required>

        

        <button
            type="submit"
            id="submitBtn"
        >
            Procesar ZIP
        </button>

        <h3> ℹ️ Con archivos grandes el proceso puede demorar un poco más.</h3>

    </form>

    </form>

<div class="footer">

    XML Extractor <strong>v1.1</strong>

    <span class="separator">•</span>

    Desarrollado por <strong>Rony Silva</strong>

</div>

<div
    id="loading"
    style="display:none;"
>

    <div
        id="loading"
        style="display:none;"
    >

        <div class="spinner"></div>

        <p id="loadingText">
            Procesando archivos...
        </p>

    </div>


</div>

<script>

const form = document.getElementById("uploadForm");

const fileInput = document.getElementById("file");

fileInput.addEventListener("change", () => {

    const fileName =
        document.getElementById("fileName");

    if (fileInput.files.length > 0){

        fileName.innerText =
            fileInput.files[0].name;

    }
    else{

        fileName.innerText =
            "Ningún archivo seleccionado";

    }

});


form.addEventListener("submit", async (e) => {

    e.preventDefault();

    document.getElementById("loading").style.display =
        "block";

    document.getElementById("submitBtn").disabled =
        true;

    document.getElementById("submitBtn").innerText =
        "Procesando...";
    
    document.getElementById("loadingText").innerText = "Procesando archivos...";    

    

    const formData = new FormData(form);

    try {

        const response = await fetch(
            "/upload",
            {
                method: "POST",
                body: formData
            }
        );

        // ERROR BACKEND
        if (!response.ok) {

            const data = await response.json();

            alert(
                data.error ||
                "Ocurrió un error procesando el ZIP"
            );

            return;
        }

        // DESCARGA
        const blob = await response.blob();

        const url =
            window.URL.createObjectURL(blob);

        const a =
            document.createElement("a");

        a.href = url;

        const contentDisposition =
            response.headers.get(
                "Content-Disposition"
            );

        let filename = "resultado.zip";

        if (contentDisposition) {

            let match =
                contentDisposition.match(
                    /filename\*=UTF-8''(.+)/
                );

            if (
                match &&
                match[1]
            ) {

                filename =
                    decodeURIComponent(
                        match[1]
                    );

            } else {

                match =
                    contentDisposition.match(
                        /filename="?([^"]+)"?/
                    );

                if (
                    match &&
                    match[1]
                ) {
                    filename =
                        match[1];
                }
            }
        }

        if (
            !filename
                .toLowerCase()
                .endsWith(".zip")
        ) {
            filename += ".zip";
        }

        a.download = filename;

        document.body.appendChild(a);

        a.click();

        a.remove();

        window.URL.revokeObjectURL(url);

    }

    catch (err) {

        alert(
            "Error inesperado procesando el archivo"
        );

    }

    finally {


        document.getElementById("loading").style.display =
            "none";

        document.getElementById("submitBtn").disabled =
            false;

        document.getElementById("submitBtn").innerText =
            "Procesar ZIP";

        document.getElementById("loadingText").innerText = "Procesando archivos...";

        }

});

</script>

</body>
</html>